body {
    text-align: center;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: red;
}

h2 {
    color: green;
}



.btn-primary:hover {
    background-color: red;
}

.form-group {
    width: 100%;
    align-content: center;
    padding-left: 38%;
    padding-right: 38%;
   
}

#selectid {
    padding-bottom: 30px;
}
.radioid{
  padding-bottom: 1%;
}